#main-app {
  background-image: repeating-linear-gradient(
      to right,
      $charcoal-1,
      $charcoal-1 1px,
      transparent 1px,
      transparent 30px
    ),
    repeating-linear-gradient(
      to bottom,
      $charcoal-1,
      $charcoal-1 1px,
      transparent 1px,
      transparent 30px
    );

  .btn {
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.15));
    font-weight: 500;
    font-family: "Paytone One", sans-serif;
    width: fit-content;
  }

  .word {
    display: inline-block;
    position: relative;
  }

  .level-ignore {
    border-bottom: 1px dashed rgba($coal-1, 0.5);
    color: rgba($coal-1, 0.8);
  }

  .level-1 {
    color: $coal-1;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: rgba($red-1, 1);
      bottom: 0; //to place it in bottom
      left: 0;
    }
  }

  .level-2 {
    color: $coal-1;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: rgba($red-1, 0.8);
      bottom: 0; //to place it in bottom
      left: 0;
    }
  }

  .level-3 {
    color: $coal-1;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: rgba($red-1, 0.6);
      bottom: 0; //to place it in bottom
      left: 0;
    }
  }

  .level-4 {
    color: $coal-1;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: rgba($red-1, 0.4);
      bottom: 0; //to place it in bottom
      left: 0;
    }
  }

  .level-5 {
    color: $coal-1;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: rgba($red-1, 0.2);
      bottom: 0; //to place it in bottom
      left: 0;
    }
  }

  .level-master {
    // border-bottom: 1px dashed rgba($green-1, 0.5);
    background-color: rgba($green-1, 0.2);
    color: $coal-1;
    &:after {
      // content: "✓";
      content: "";
      font-size: 8px;
      color: $green-1;
    }
  }

  // .level-ignore {
  //   border-bottom: 1px dashed rgba($coal-1, 0.5);
  //   color: rgba($coal-1, 0.5);
  // }

  // .level-1 {
  //   color: $red-1;
  //   &:after {
  //     content: "1";
  //     font-size: 8px;
  //     color: rgba($coal-1, 0.8);
  //   }
  // }

  // .level-2 {
  //   color: $purple-1;
  //   &:after {
  //     content: "2";
  //     font-size: 8px;
  //     color: rgba($coal-1, 0.8);

  //     transform: rotate(3deg);
  //   }
  // }

  // .level-3 {
  //   color: $yellow-1;
  //   &:after {
  //     content: "3";
  //     font-size: 8px;
  //     color: rgba($coal-1, 0.8);
  //   }
  // }

  // .level-4 {
  //   color: $blue-1;
  //   &:after {
  //     content: "4";
  //     font-size: 8px;
  //     color: rgba($coal-1, 0.8);
  //   }
  // }

  // .level-5 {
  //   color: $green-1;
  //   &:after {
  //     content: "5";
  //     font-size: 8px;
  //     color: rgba($coal-1, 0.8);
  //   }
  // }

  // .level-master {
  //   border-bottom: 1px dashed rgba($coal-1, 0.5);
  //   &:after {
  //     content: "✓";
  //     font-size: 8px;
  //     color: $green-1;
  //   }
  // }
}
