#footer {
  height: 50vh;

  background: radial-gradient(
      7px 7px at 50% 50%,
      rgba(255, 255, 255, 0.1) 50%,
      transparent 50%
    )
    top / 35px 35px repeat;

  img {
    max-width: 200px;
    filter: drop-shadow(3px 3px 0px $light-yellow);
  }
}
