nav {
  .navbar-nav {
    .nav-link {
      color: $white;
      &.active {
        color: $white;
      }
    }
  }

  .btn {
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.15));
    font-weight: 500;
    font-family: "Paytone One", sans-serif;
  }

  .web-name {
    font-size: 3rem;
    transform: rotate(-3deg);
    text-shadow: 3px 3px $red-1;
    font-weight: 700;

    &::before {
      content: ".";
      // color: $purple-1;
      text-shadow: 8px 8px $red-1;
    }
  }

  .user-name {
    text-shadow: 2px 2px $light-yellow;
    font-weight: 500;
  }

  #toggle-btn {
    filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.15));
    &:focus {
      box-shadow: none;
    }
  }

  a {
    width: fit-content;
  }
}
