nav {
  .navbar-nav {
    .nav-link {
      color: $white;
      &.active {
        color: $white;
      }
    }
  }

  .btn {
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.15));
    font-weight: 500;
    font-family: "Paytone One", sans-serif;
  }

  .user-name {
    text-shadow: 2px 2px $light-yellow;
    font-weight: 500;
  }

  #toggle-btn {
    filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.15));
    &:focus {
      box-shadow: none;
    }

    &:after {
      // content: "hello";
    }
  }

  a {
    width: fit-content;
  }

  #navbar-chat-icon {
    transform: translate(3px, -15px);
  }
}
