.web-name {
  font-size: 3rem;
  // transform: rotate(-3deg);
  text-shadow: 3px 3px $red-1;
  font-weight: 700;

  // &::before {
  //   content: ".";
  //   text-shadow: 8px 8px $red-1;
  // }
}

@mixin drop-shadow($pixel) {
  filter: drop-shadow($pixel $pixel 0px $black);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-strong {
  font-weight: bold;
}

.text-fs-11 {
  font-size: 11px;
}

.text-fs-13 {
  font-size: 13px;
}

.text-stroke-black {
  -webkit-text-stroke: 1px $black;
}

.text-stroke-light-yellow {
  -webkit-text-stroke: 1px $light-yellow;
}

.get-started-btn {
  font-family: "Paytone One", sans-serif;
  @include drop-shadow(4px);
}

.bi-star-fill,
.bi-quote {
  @include drop-shadow(2px);
}

.level-ignore {
  border-bottom: 1px dashed rgba($coal-1, 0.5);
  color: rgba($coal-1, 0.5);
}

.level-1 {
  color: $red-1;
  &:after {
    content: "1";
    font-size: 8px;
    color: rgba($coal-1, 0.8);
  }
}

.level-2 {
  color: $purple-1;
  &:after {
    content: "2";
    font-size: 8px;
    color: rgba($coal-1, 0.8);

    transform: rotate(3deg);
  }
}

.level-3 {
  color: $yellow-1;
  &:after {
    content: "3";
    font-size: 8px;
    color: rgba($coal-1, 0.8);
  }
}

.level-4 {
  color: $blue-1;
  &:after {
    content: "4";
    font-size: 8px;
    color: rgba($coal-1, 0.8);
  }
}

.level-5 {
  color: $green-1;
  &:after {
    content: "5";
    font-size: 8px;
    color: rgba($coal-1, 0.8);
  }
}

.level-master {
  border-bottom: 1px dashed rgba($coal-1, 0.5);
  &:after {
    content: "✓";
    font-size: 8px;
    color: $green-1;
  }
}
