@mixin drop-shadow($pixel) {
  filter: drop-shadow($pixel $pixel 0px $black);
}

.web-name {
  font-size: 3rem;
  // transform: rotate(-3deg);
  text-shadow: 3px 3px $red-1;
  font-weight: 700;

  // &::before {
  //   content: ".";
  //   text-shadow: 8px 8px $red-1;
  // }
}

.get-started-btn {
  font-family: "Paytone One", sans-serif;
  @include drop-shadow(4px);
}

.bi-star-fill,
.bi-quote {
  @include drop-shadow(2px);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-strong {
  font-weight: bold;
}

.text-fs-11 {
  font-size: 11px;
}

.text-fs-13 {
  font-size: 13px;
}

.text-fs-15 {
  font-size: 15px;
}

.text-stroke-black {
  -webkit-text-stroke: 1px $black;
}

.text-stroke-light-yellow {
  -webkit-text-stroke: 1px $light-yellow;
}
